@{
    ViewData["Title"] = "Index";
    Layout = "Layout";
}
<body>
    <h1 class="ui huge header">Projekt inzynierski</h1>
    <div>
        <div>Autor: <b>Roger Paul Skrzypczyk</b></div>
        <div>Temat: <b>Serwis internetowy wspomagający planowanie diety </b></div>
        <p></p>
        <div>Głównym celem projektu jest kalkulowanie kalorii i makroskladników spożywanych w ciągu danego dnia, a także zapamiętywanie ich.</div>
        <div>Strona oferuje korzystanie z gotowych lub własnoręcznie dodanych produktów, które są niezbędne do zaplanowania dnia żywieniowego.</div>

    </div>
</body>


