@{
    ViewData["Title"] = "Index";
    Layout = "Layout";
}
<body>
    <h1 class="ui huge header">Projekt z przedmiotu "Technologie Aplikacji Internetowych"</h1>
    <div>
        <div>Autorzy: <b>Roger Skrzypczyk, </b> <b>Aleksander Chytkiewicz, </b> <b>Krzysztof Bywalski, </b> <b>Łukasz Zaroda, </b> <b>Łukasz Kijanka</b></div>
        <div>Projekt: <b>Serwis internetowy wspomagający planowanie diety </b></div>
        <p></p>
        <div>Głównym celem projektu jest kalkulowanie kalorii i makroskladników spożywanych w ciągu danego dnia, a także zapamiętywanie ich.</div>
        <div>Strona oferuje korzystanie z gotowych lub własnoręcznie dodanych produktów, które są niezbędne do zaplanowania dnia żywieniowego.</div>
    </div>
</body>


